<!DOCTYPE html>
<html>
<head>
<title>Film</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../css/global.css" rel="stylesheet">
</head>
	<body>
		<div class="container">
			<div class="row mt-3 align-items-center">
				<div class="col-lg-2 text-center text-lg-start">
					<h1>Cinema</h1>
				</div>
				<div class="col-lg-7">
					<form>
						<div class="row">
							<div class="col-10 pe-1">
								<input type="text" class="form-control" id="recherche" placeholder="Rechercher un film">
							</div>
							<div class="col-2 ps-1">
								<button type="button" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</form>	
				</div>
				<div id="entete-non-connectee" class="col-lg-3 text-center text-lg-start mt-2 mt-lg-0 d-none">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_connexion">Connexion</button>
					<!-- Fenêtre de connexion modale -->
					<div class="modal fade" id="modal_connexion" tabindex="-1" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Connectez-vous !</h5>
							<button type="button" id="btn_close_connexion" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						  </div>
						  <form action="/connexion" method="POST">
							<div class="modal-body">
										<div id="alert-connexion">
										</div>
										<label for="labelInputPseudo" class="form-label">Pseudo</label>
										<input type="text" class="form-control" id="inputPseudoConnexion" name="inputPseudoConnexion">
										<label for="labelInputPwd" class="form-label">Mot de passe</label>
										<input type="text" class="form-control" id="inputPwdConnexion" name="inputPwdConnexion">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									<button type="button" onclick="connexionSubmit()" class="btn btn-success">Connexion</button>
								</div>
							</form>
						</div>
					  </div>
					</div>
					<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_inscription">Inscription</button>
					<!-- Fenêtre d'inscription modale -->
					<div class="modal fade" id="modal_inscription" tabindex="-1" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Rejoignez-nous !</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						  </div>
						  <form method="post" action="/creationcompte">
							<div class="modal-body">
									<label for="labelInputPseudo" class="form-label">Pseudo</label>
									<input type="text" class="form-control" name="inputPseudoInscription" id="inputPseudoInscription">
									<label for="labelInputPwd" class="form-label">Mot de passe</label>
									<input type="text" class="form-control" name="inputPwdInscription" id="inputPwdInscription">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								<button type="submit" class="btn btn-success">Créer le compte</button>
							</div>
						</form>
						</div>
					  </div>
					</div>
				</div>
				<div id="entete-connectee" class="col-lg-3 text-center text-lg-start mt-2 mt-lg-0 d-none">
					<div class="dropdown">
						<button class="btn btn-success dropdown-toggle" type="button" id="id-pseudo" data-bs-toggle="dropdown" aria-expanded="false">
						  Dropdown button
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						  <li><a class="dropdown-item" href="/administration">Administration</a></li>
						  <li><a class="dropdown-item" href="/deconnexion">Deconnexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div>
            Titre
            <div id="titre_film">

            </div>
        </div>
        <div>
            Description
            <div id="description_film">

            </div>
        </div>
        <div>
            Image
            <div id="image_film">

            </div>
        </div>
	</body>
</html>
<script src="../controllers/accueil.js"></script>
<script src="../controllers/film.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>